html * {
    box-sizing: border-box;
    /* background: rgb(2,145,214); */
}

body {
    background: linear-gradient(90deg, rgba(2,145,214,1) 0%, rgba(137,214,232,1) 51%, rgba(2,145,214,1) 100%);
}

/* utils */
.text, h3 {
    font-family: 'Teko', sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 45px;
    color: blanchedalmond;
    font-family: fantasy;
}

.container {
    display: flex;
    justify-content: center;
}

.grid {
     width: 202px;
     height: 402px;
     display: flex;
     flex-wrap: wrap;
     border-bottom: 3px solid beige;
}

.grid__pixels {
    height: 20px;
    width: 20px;
    border: .5px solid #3098ca5e;
    border-radius: .2em;
}

.shapes {
    border: .1em outset #f1f1f1;
    border-radius: .3em;
}

.grid-right {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    align-items: center;
}

.grid-right__info {
    height: 180px;
    background: linear-gradient(180deg, rgba(233,233,233,1) 48%, rgba(237,223,241,1) 75%, rgba(243,206,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    border-radius: 1em;
    color: #716e69;
    padding-top: 30px
}

.mini-grid {
    width: 82px;
    height: 102px;
    /* background-color: #32b3e0; */
    margin: auto 25px;
    display: flex;
    flex-wrap: wrap;
}

.mini-grid div {
    height: 20px;
    width: 20px;
}

.btn {
    width: 70%;
    height: 35px;
    border-radius: .3em;
    background-color: #a450ff;
    font-size: 18px;
    color: #fff;
    border: 3px groove;
    margin: 20px 0;
}

/* .restart {
    width: 50px;
    height: 100px;
    font-size: 20px;
    background-color: chocolate;
} */

.mobile-container {
    display: none;
}

/* ------MOBILE VIEW ------ */
@media only screen and (min-width: 200px) and (max-width: 800px) {

    .container {
        align-items: center;
    }

    .title h1 {
        font-size: 25px;
    }
    
    .case-grid {
        width: 300px;
        height: 510px;
        background: #e4e4e4;
        border: 6px solid #264545;
        border-radius: 20px;
        border-bottom-right-radius: 100px;
    }

    .case-grid__top {
        border-bottom: 4px solid #969696;
    }

    .top-line {
        width: 250px;
        height: 20px;
        border-left: 4px solid #969696;
        border-right: 4px solid #969696;
        margin: 0 auto;
    }

    .case-grid__screen {
        width: 213px;
        /* background-color: #9A9C9E; */
        background-image: url('https://www.transparenttextures.com/patterns/3px-tile.png?fbclid=IwAR0hofMgfGL_pRd8IjESUcxqDtNhg7YdRelvaUg3gRG5GjxbzoDaZyzYA_0');
        margin: 15px auto 0;
        border: 6px solid #264545;
        border-radius: 20px;
        height: 294px;
        position: relative;
        overflow: hidden;
    }

    .grid {
        border-bottom: none;
        transform: scale(.7);
        margin-top: -60px;
        background: #9A9C9E;
    }

    .grid__pixels {
        border: none;
    }

    .shapes {
        border: .1em outset #f1f1f1;
    }

    .case-grid__controls {
        margin: 30px auto 0;
        display: flex;
        justify-content: center;
    }

    .controls-plus {
        display: flex;
        align-items: center;  
        margin-right: 40px;  
    }

    .controls-plus__left {
        width: 30px;
        height: 30px;
        background: #264545;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .controls-plus__down {
        width: 30px;
        height: 90px;
        background: #264545;
        border-radius: 6px;
    }

    .controls-plus__right {
        width: 30px;
        height: 30px;
        background: #264545;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .controls-btn {
        width: 40px;
        height: 40px;
        background: crimson;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .start {
        margin: 30px 0 0 20px;
        
    }

    .start, .turn {
        flex-direction: column;
    }

    .turn p {
        margin: 0 0 55px;
    }

    .grid-right {
        margin: 10px;
    }

    .grid-right__info {
        height: 110px;
        width: 80px;
        padding-top: 5px;
    }

    .grid-right__info h3 {
        margin: 0;
        font-size: 18px;
    }

    .mini-grid {
        transform: scale(.5);
    }

    button {
        display: none;
    }




    
}